body {
    background: url("../images/background.jpg");
    margin-top: 1%;
    margin-left: 1%;
}

/* Heading Size 1 */
img {
    width: 12%;
}
h1 {
    font-size: 140%;
    font-weight: bold;
}

/* Heading Size 2 */

h2 {
    font-size: 120%;
    font-weight: bold;
}

p {
    font-size: 90%;
}

#gameBrand {
    background-color: #cb6f34;
    color: #ffffff;
    width: 10%;
    padding: 30px;
}

.container {
    margin-top: 1%;
}

/* About CrystalsCollector! */

#aboutSection {
    background-color: #fbe6cf;
    color: #228B22;
    width: 30%;
    padding: 30px;
    font-size: 150%;
}

/* Bold Style */
b {
    font-weight: bold;
}

/* Rows / Cols for our random Number & Win/Losses */

/* Default Row */

.row {
    display: flex;
    width: 25%;
}

/* Default column */

.col {
    flex: 1;
}

/* Style for our section & aside */

.col-green {
    flex: 2;
    background-color: #53c987 !important;
    padding: 10px;
    height: 80px;
    margin-right: 1%;
}

.col-cyan {
    flex: 1;
    background-color: #3bfefb;
    padding: 10px;
    margin-right: 1%;
}

#randomNumber {
    font-size: 250%;
}

.totalScore {
    background-color: #1fa395;
    color: #ffffff;
    width: 10%;
    padding: 5px;
}
#playerTotalScore {
    height: 40%;
}

/* Crystal Effects */
#cRed, #cBlue, #cYellow, #cGreen {
    cursor: pointer;
}

#cRed {
    background: url("../images/crystals/red.png") no-repeat;
    border: none;
    width: 65px;
    height: 65px;
}
#cBlue {
    background: url("../images/crystals/blue.png") no-repeat;
    border: none;
    width: 65px;
    height: 65px;
}
#cYellow {
    background: url("../images/crystals/yellow.png") no-repeat;
    border: none;
    width: 65px;
    height: 65px;
}
#cGreen {
    background: url("../images/crystals/green.png") no-repeat;
    border: none;
    width: 65px;
    height: 65px;
}



