body {
    background: url("../images/background.jpg");
    margin-top: 1%;
    margin-left: 1%;
}

/* Heading Size 1 */
h1 {font-size: 200%; font-weight: bold;}

/* Heading Size 2 */
h2 {font-size: 140%; font-weight: bold;}


#gameBrand {
    background-color: #cb6f34;
    color: #ffffff;
    width: 14%;
    padding: 30px;
}

.container {
    margin-top: 1%;
}

/* About CrystalsCollector! */

#aboutSection {
    background-color: #fbe6cf;
    color: #228B22;
    width: 30%;
    padding: 30px;
    font-size: 150%;
}


